In [4]:
import requests 
from bs4 import BeautifulSoup

In [5]:
html_page = requests.get('https://www.mashina.kg/search/bmw/all/?currency=2&sort_by=upped_at%20desc').content
soup = BeautifulSoup(html_page, 'lxml')
all_products =  soup.find_all('div', class_='list-item list-label')

In [10]:
car_model = []
year_of_production = []
engine_volume = []
mileage = []
fuel = []
steering_wheel_location = []
color = []
body_type = []
location = []
price_in_usd = []

In [11]:
list_lengths = {
    "car_model": len(car_model),
    "year_of_production": len(year_of_production),
    "engine_volume": len(engine_volume),
    "mileage": len(mileage),
    "fuel": len(fuel),
    "steering_wheel_location": len(steering_wheel_location),
    "color": len(color),
    "body_type": len(body_type),
    "location": len(location),
    "price_in_usd": len(price_in_usd),
    
}

In [12]:
list_lengths

{'car_model': 0,
 'year_of_production': 0,
 'engine_volume': 0,
 'mileage': 0,
 'fuel': 0,
 'steering_wheel_location': 0,
 'color': 0,
 'body_type': 0,
 'location': 0,
 'price_in_usd': 0}

In [13]:
for i in range(1,100):
    a = f"https://m.mashina.kg/search/all/all/?currency=2&gear_box_multiple=1&region=all&sort_by=upped_at+desc&page={i}"
    html_page = requests.get(a).content
    soup = BeautifulSoup(html_page, 'lxml')
    all_products =  soup.find_all('div', class_='list-item list-label')
    
    for product in all_products:
        mod = product.find('h2', class_='name').text.strip()
        car_model.append(mod)
        
        firs = (product.find('p', class_='year-miles').text.strip()).split(',')
        
        if len(firs) == 2:
            year_of_production.append(int(firs[0].replace('г.','')))
            engine_volume.append(None)
        else:
            year_of_production.append(int(firs[0].replace('г.','')))
            engine_volume.append(float(firs[1].replace('л.','')))
        
        second = (product.find('p', class_='body-type').text.strip()).split(',')
        body_type.append(second[0])
        fuel.append(second[1])
        
        third = (product.find('p', class_='volume').text.strip()).split(',')
        if len(third) > 1:
            steering_wheel_location.append(third[0])
            mileage.append(int(third[1].replace('км','').replace(' ','')))
        else:
            steering_wheel_location.append(third[0])
            mileage.append(None) 
        four = (product.find('strong').text.strip()).split(',') 
        price_in_usd.append(int(four[0].replace('$','').replace(' ','')))
        
        coloar = product.find('div',class_='item-info-wrapper').find('p',class_='year-miles').i
        color.append(coloar['title'])
        
        location.append((product.find('p',class_='city').text.strip()).split()[0])

In [14]:
data = {
    'Car Model': car_model,
    'Year of Production': year_of_production,
    'Engine Volume': engine_volume,
    'Mileage': mileage,
    'Fuel': fuel,
    'Steering Wheel Location': steering_wheel_location,
    'Color': color,
    'Body Type': body_type,
    'Location': location,
    'Price in USD': price_in_usd
}

In [15]:
import pandas as pd
df = pd.DataFrame(data)

In [16]:
df

,Car Model,Year of Production,Engine Volume,Mileage,Fuel,Steering Wheel Location,Color,Body Type,Location,Price in USD
0,Mercedes-Benz A-Класс,2002,1.4,380000.0,бензин,руль слева,серебристый,хэтчбек 5 дв.,Сокулук,4075
1,Opel Astra,2000,1.6,200000.0,бензин,руль слева,серебристый,универсал,Джалал-Абад,4420
2,Mitsubishi Carisma,1999,1.8,404123.0,бензин,руль слева,синий,седан,Джалал-Абад,210000
3,Daewoo Matiz,1999,0.8,192600.0,бензин,руль слева,серебристый,хэтчбек 5 дв.,Кызыл-Кия,1607
4,Audi A6,2002,2.4,366725.0,бензин,руль слева,серебристый,седан,Бишкек,4821
...,...,...,...,...,...,...,...,...,...,...
1935,Daewoo Matiz,2001,0.8,190400.0,бензин,руль слева,зеленый,хэтчбек 5 дв.,Кара-Суу,2181
1936,ВАЗ (Lada) 2121 (4x4),2007,1.7,111000.0,бензин,руль слева,синий,внедорожник 3 дв.,Джалал-Абад,3329
1937,Opel Zafira,2003,1.8,346246.0,бензин,руль слева,серебристый,компактвэн,Ноокат,5166
1938,Volkswagen Jetta,1988,1.8,250000.0,бензин,руль слева,голубой,седан,Токмок,1263
1939,Mazda 626,1989,2.0,250000.0,бензин,руль слева,красный,универсал,Токмок,1378

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1940 entries, 0 to 1939
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Model                1940 non-null   object
 1   Year of Production       1940 non-null   int64
 2   Engine Volume            1940 non-null   float64
 3   Mileage                  1924 non-null   float64
 4   Fuel                     1940 non-null   object
 5   Steering Wheel Location  1940 non-null   object
 6   Color                    1940 non-null   object
 7   Body Type                1940 non-null   object
 8   Location                 1940 non-null   object
 9   Price in USD             1940 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 151.7+ KB

In [18]:
df.to_csv('list.csv')

In [19]:
df

,Car Model,Year of Production,Engine Volume,Mileage,Fuel,Steering Wheel Location,Color,Body Type,Location,Price in USD
0,Mercedes-Benz A-Класс,2002,1.4,380000.0,бензин,руль слева,серебристый,хэтчбек 5 дв.,Сокулук,4075
1,Opel Astra,2000,1.6,200000.0,бензин,руль слева,серебристый,универсал,Джалал-Абад,4420
2,Mitsubishi Carisma,1999,1.8,404123.0,бензин,руль слева,синий,седан,Джалал-Абад,210000
3,Daewoo Matiz,1999,0.8,192600.0,бензин,руль слева,серебристый,хэтчбек 5 дв.,Кызыл-Кия,1607
4,Audi A6,2002,2.4,366725.0,бензин,руль слева,серебристый,седан,Бишкек,4821
...,...,...,...,...,...,...,...,...,...,...
1935,Daewoo Matiz,2001,0.8,190400.0,бензин,руль слева,зеленый,хэтчбек 5 дв.,Кара-Суу,2181
1936,ВАЗ (Lada) 2121 (4x4),2007,1.7,111000.0,бензин,руль слева,синий,внедорожник 3 дв.,Джалал-Абад,3329
1937,Opel Zafira,2003,1.8,346246.0,бензин,руль слева,серебристый,компактвэн,Ноокат,5166
1938,Volkswagen Jetta,1988,1.8,250000.0,бензин,руль слева,голубой,седан,Токмок,1263
1939,Mazda 626,1989,2.0,250000.0,бензин,руль слева,красный,универсал,Токмок,1378