In [ ]:
import sqlite3
import pandas as pd

data_file = 'bmwlist.csv'
df = pd.read_csv(data_file)

sqlite_db = 'bmw_data.db'

conn = sqlite3.connect(sqlite_db)
cursor = conn.cursor()

table_query = """
CREATE TABLE IF NOT EXISTS bmw_cars (
    id INTEGER PRIMARY KEY,
    car_model TEXT,
    year_of_production INTEGER,
    engine_volume REAL,
    mileage REAL,
    fuel TEXT,
    gearbox_mechanism TEXT,
    steering_wheel_location TEXT,
    color TEXT,
    body_type TEXT,
    location TEXT,
    price_in_usd REAL
);
"""

cursor.execute(table_query)

df.rename(columns={
    "Car Model": "car_model",
    "Year of Production": "year_of_production",
    "Engine Volume": "engine_volume",
    "Mileage": "mileage",
    "Fuel": "fuel",
    "Gearbox Mechanism": "gearbox_mechanism",
    "Steering Wheel Location": "steering_wheel_location",
    "Color": "color",
    "Body Type": "body_type",
    "Location": "location",
    "Price in USD": "price_in_usd"
}, inplace=True)


df.to_sql('bmw_cars', conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('bmw_data.db')
cursor = conn.cursor()

In [6]:
#Find the most expensive car:
cursor.execute("""SELECT car_model, year_of_production, price_in_usd
FROM bmw_cars
ORDER BY price_in_usd DESC
LIMIT 1;
""")
cursor.fetchall()

[('BMW XM', 2023, 235000)]

In [7]:
#List all unique car models available:
cursor.execute("""SELECT DISTINCT car_model
FROM bmw_cars;
""")
cursor.fetchall()

[('BMW 5 серии',),
 ('BMW X7',),
 ('BMW 7 серии',),
 ('BMW X5',),
 ('BMW X6',),
 ('BMW X2',),
 ('BMW X3',),
 ('BMW 3 серии',),
 ('BMW M8',),
 ('BMW M4',),
 ('BMW X5 M',),
 ('BMW X1',),
 ('BMW iX3',),
 ('BMW 4 серии',),
 ('BMW M5',),
 ('BMW 6 серии',),
 ('BMW X6 M',),
 ('BMW 2 серии Active Tourer',),
 ('BMW XM',),
 ('BMW i4',),
 ('BMW M3',),
 ('BMW 1 серии',),
 ('BMW 8 серии',),
 ('BMW X4',),
 ('BMW X4 M',),
 ('BMW iX',),
 ('BMW X3 M',),
 ('BMW i7',),
 ('BMW i3',),
 ('BMW iX1',),
 ('BMW 2 серии',),
 ('BMW M6',),
 ('BMW i5',)]

In [8]:
#Calculate the average price of cars by fuel type:
cursor.execute("""SELECT fuel, AVG(price_in_usd) AS average_price
FROM bmw_cars
GROUP BY fuel;

""")
cursor.fetchall()

[(' бензин', 42583.60345932095),
 (' гибрид', 96790.32258064517),
 (' дизель', 43396.19337016575),
 (' электро', 48296.11538461538)]

In [10]:
#Count the number of cars produced after 2020:
cursor.execute("""SELECT COUNT(*) AS count_of_cars
FROM bmw_cars
WHERE year_of_production > 2020;


""")
cursor.fetchone()

(621,)

In [11]:
#Find the average mileage for SUVs (внедорожник 5 дв.):
cursor.execute("""SELECT AVG(mileage) AS average_mileage
FROM bmw_cars
WHERE body_type = 'внедорожник 5 дв.';

""")
cursor.fetchall()

[(97212.32442748091,)]