In [21]:
import sqlite3
import pandas as pd

data_file = 'list.csv'
df = pd.read_csv(data_file)

sqlite_db = 'list.db'

conn = sqlite3.connect(sqlite_db)
cursor = conn.cursor()

table_query = """
CREATE TABLE IF NOT EXISTS list_cars (
    id INTEGER PRIMARY KEY,
    car_model TEXT,
    year_of_production INTEGER,
    engine_volume REAL,
    mileage REAL,
    fuel TEXT,
    steering_wheel_location TEXT,
    color TEXT,
    body_type TEXT,
    location TEXT,
    price_in_usd REAL
);
"""

cursor.execute(table_query)

df.rename(columns={
    "Car Model": "car_model",
    "Year of Production": "year_of_production",
    "Engine Volume": "engine_volume",
    "Mileage": "mileage",
    "Fuel": "fuel",
    "Steering Wheel Location": "steering_wheel_location",
    "Color": "color",
    "Body Type": "body_type",
    "Location": "location",
    "Price in USD": "price_in_usd"
}, inplace=True)


df.to_sql('list_cars', conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [22]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('list.db')
cursor = conn.cursor()

In [23]:
#Find the most expensive car:
cursor.execute("""SELECT car_model, year_of_production, price_in_usd
FROM list_cars
ORDER BY price_in_usd DESC
LIMIT 1;
""")
cursor.fetchall()

[('Mitsubishi Carisma', 1999, 210000)]

In [24]:
#List all unique car models available:
cursor.execute("""SELECT DISTINCT car_model
FROM list_cars;
""")

print(len(cursor.fetchall()))

251

In [25]:
#Calculate the average price of cars by fuel type:
cursor.execute("""SELECT fuel, AVG(price_in_usd) AS average_price
FROM list_cars
GROUP BY fuel;

""")
cursor.fetchall()

[(' бензин', 4568.22438752784), (' дизель', 8091.333333333333)]

In [26]:
#Count the number of cars produced after 2023:
cursor.execute("""SELECT COUNT(*) AS count_of_cars
FROM list_cars
WHERE year_of_production > 2023;


""")
cursor.fetchone()

(20,)

In [42]:
# Count of Cars with Missing Mileage
cursor.execute("""SELECT COUNT(*) AS Missing_Mileage_Count
FROM list_cars
WHERE Mileage IS NULL;
    

""")
cursor.fetchall()

[(16,)]

In [28]:
#Find the oldest car in the dataset:
cursor.execute("""SELECT car_model, year_of_production
FROM list_cars
ORDER BY year_of_production ASC
LIMIT 1;

""")
cursor.fetchall()

[('Москвич 400', 1951)]

In [47]:
#Price Range of Cars by Production Year
cursor.execute("""SELECT "year_of_production", MIN("price_in_usd") AS Min_Price, MAX("price_in_usd") AS Max_Price
FROM list_cars
GROUP BY "Year of Production"
ORDER BY "Year of Production" ASC;

""")
cursor.fetchall()

[(1999, 333, 210000)]

In [30]:
#Identify the most common car color in the dataset:
cursor.execute("""SELECT color, COUNT(*) AS color_count
FROM list_cars
GROUP BY color
ORDER BY color_count DESC

""")
cursor.fetchall()

[('серебристый', 445),
 ('белый', 324),
 ('черный', 221),
 ('синий', 220),
 ('серый', 142),
 ('зеленый', 130),
 ('вишня', 73),
 ('красный', 64),
 ('бирюзовый', 60),
 ('бордовый', 52),
 ('голубой', 46),
 ('бежевый', 34),
 ('золотистый', 30),
 ('хамелеон', 27),
 ('коричневый', 25),
 ('баклажан', 18),
 ('жёлтый', 10),
 ('бронза', 8),
 ('фиолетовый', 5),
 ('оранжевый', 5),
 ('сиреневый', 1)]

In [38]:
#Find the total value of cars available by body type:
cursor.execute("""
SELECT body_type, AVG(price_in_usd) AS total_value
FROM list_cars
GROUP BY body_type;

""")
cursor.fetchall()

[('внедорожник 3 дв.', 5684.208333333333),
 ('внедорожник 5 дв.', 12251.382716049382),
 ('внедорожник открытый', 1837.0),
 ('кабриолет', 4000.0),
 ('компактвэн', 4986.716049382716),
 ('купе', 41458.77777777778),
 ('лифтбек', 5349.0),
 ('микровэн', 3825.235294117647),
 ('минивэн', 8005.372093023256),
 ('пикап двойная кабина', 27630.894736842107),
 ('родстер', 631.0),
 ('седан', 4132.538545059718),
 ('универсал', 3995.6815286624205),
 ('фургон', 4894.0),
 ('хэтчбек 3 дв.', 3964.878787878788),
 ('хэтчбек 5 дв.', 3523.637707948244)]